.main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  padding-top:100px;
}

.container {
  width: 700px;
  height:fit-content;
  padding-bottom:100px;
}

.header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.info .title {
    font-size: 20px;
    font-weight: 500;
}

.info .description {
    opacity: .5;
    font-size: 13px;
    padding: 5px 0;
}

.dividerWrapper {
    width:100%;
    box-sizing: border-box;
    padding:0 20px;
}

.dividerWrapper .divider {
    width:100%;
    border-bottom: 1px solid white;
    opacity: .2;
}

.loading {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  background-color: black;
  z-index: 1;
  display: grid;
  place-items: center;
  transition: .7s;
  pointer-events: none;
  opacity: 0;
}


.loadingActive {
  opacity: 1;
}

